.Header {
	display: flex;
	height: 36px;
	padding-top: calc(var(--gap) * 2);
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	color: var(--a--color--red-5);
	letter-spacing: 8px;
}
