.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 36px;
	padding: calc(var(--gap) * 2);
	padding-bottom: 12px;
}

.logo {
	color: var(--a--color--red-5);
	letter-spacing: 8px;
}
