# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# vscode settings
.vscode/*

# temp folders
_legacy*
_backup*
_temp*
_lab*

# temp files
*._legacy*
*._backup*
*._temp*
*._lab*

#history
.history
.lh
