:root,
html[data-theme="dark"] {
	--color--bg-0-gradient: var(--color--b1-0);
	--color--bg-1-gradient: var(--color--b1-0);

	--color--0: rgb(0 0 0);
	--color--1: rgb(255 255 255);

	--color--a0-0: #000000;
	--color--a0-1: #1a1a1a;
	--color--a0-2: #666666;

	--color--a1-0: rgb(127 188 103);
	--color--a1-1: hsl(100, 50%, 63%);
	--color--a1-2: rgb(160 213 139);

	--color--a2-0: rgb(84 169 192);
	--color--a2-1: rgb(101 182 203);
	--color--a2-2: rgb(121 196 215);

	--color--a3-0: rgb(139 139 198);
	--color--a3-1: rgb(156 156 211);
	--color--a3-2: rgb(180 180 218);

	--color--a4-0: rgb(198 139 186);
	--color--a4-1: rgb(211 156 200);
	--color--a4-2: rgb(222 175 213);

	--color--a5-0: rgb(219 117 117);
	--color--a5-1: rgb(229 140 140);
	--color--a5-2: rgb(236 161 161);

	--color--a6-0: #dba875;
	--color--a6-1: #e5b98c;
	--color--a6-2: #ecc7a1;

	--color--b1-0: rgb(20 20 20);
	--color--b1-1: rgb(30 30 30);
	--color--b1-2: rgb(40 40 40);

	--color--b2-0: #e3e8ed;
	--color--b2-1: #f5f7f9;
	--color--b2-2: #fdfefe;

	--color--e1-0: rgb(70 70 70);
	--color--e1-1: rgb(90 90 90);
	--color--e1-2: rgb(110 110 110);

	--color--e2-0: rgb(35 35 35);
	--color--e2-1: rgb(50 50 50);
	--color--e2-2: rgb(70 70 70);

	--color--f1-0: rgb(180 180 180);
	--color--f1-1: rgb(200 200 200);
	--color--f1-2: rgb(230 230 230);

	--color--f2-0: rgb(20 20 20);
	--color--f2-1: rgb(30 30 30);
	--color--f2-2: rgb(40 40 40);

	--color--scroll-thumb: rgb(45 45 45);

	// No changing
	--color--0-static: rgb(0 0 0);
	--color--1-static: rgb(255 255 255);

	// ...
}

:root {
	--a--color--black: hsl(0, 0%, 0%);
	--a--color--gray: hsl(0, 0%, 50%);
	--a--color--white: hsl(0, 0%, 100%);
}

:root,
html[data-theme="dark"] {
	--a--color--saturation: 70%;

	@mixin setColor($colorName, $shade) {
		@for $i from 1 through 9 {
			#{'--a--color--' + $colorName + '-' + $i}: hsl(#{$shade}, var(--a--color--saturation), #{100% - (10% * $i)});
		}
	}

	$colors: (
		red: 0,
		orangered: 16,
		orange: 32,
		yellow: 53,
		lime: 75,
		lawngreen: 93,
		green: 120,
		guppiegreen: 150,
		teal: 165,
		aqua: 180,
		ligthblue: 210,
		blue: 240,
		violet: 270,
		purple: 300,
		pink: 330,
	);

	@each $color, $shade in $colors {
		@include setColor($color, $shade);
	}

	--a--color--gray-11: hsl(0, 0%, 91%);
	--a--color--gray-12: hsl(0, 0%, 97%);
	--a--color--gray-13: hsl(0, 0%, 95%);
	--a--color--gray-14: hsl(0, 0%, 92%);
	--a--color--gray-15: hsl(0, 0%, 88%);
	--a--color--gray-16: hsl(0, 0%, 82%);
	--a--color--gray-17: hsl(0, 0%, 76%);
	--a--color--gray-18: hsl(0, 0%, 68%);
	--a--color--gray-19: hsl(0, 0%, 60%);
	--a--color--gray-20: hsl(0, 0%, 50%);
	--a--color--gray-21: hsl(0, 0%, 40%);
	--a--color--gray-22: hsl(0, 0%, 32%);
	--a--color--gray-23: hsl(0, 0%, 24%);
	--a--color--gray-24: hsl(0, 0%, 18%);
	--a--color--gray-25: hsl(0, 0%, 12%);
	--a--color--gray-26: hsl(0, 0%, 8%);
	--a--color--gray-27: hsl(0, 0%, 5%);
	--a--color--gray-28: hsl(0, 0%, 3%);
	--a--color--gray-29: hsl(0, 0%, 1%);

	--a--color--min: hsl(0, 0%, 100%);
	--a--color--max: hsl(0, 0%, 0%);
}

// --a--color--gray1-1: hsl(0, 0%, 98%);
// --a--color--gray1-2: hsl(0, 0%, 94%);
// --a--color--gray1-3: hsl(0, 0%, 90%);
// --a--color--gray1-4: hsl(0, 0%, 86%);
// --a--color--gray1-5: hsl(0, 0%, 82%);
// --a--color--gray1-6: hsl(0, 0%, 76%);
// --a--color--gray1-7: hsl(0, 0%, 70%);
// --a--color--gray1-8: hsl(0, 0%, 62%);
// --a--color--gray1-9: hsl(0, 0%, 56%);
// --a--color--gray2-1: hsl(0, 0%, 48%);
// --a--color--gray2-2: hsl(0, 0%, 32%);
// --a--color--gray2-3: hsl(0, 0%, 24%);
// --a--color--gray2-4: hsl(0, 0%, 20%);
// --a--color--gray2-5: hsl(0, 0%, 16%);
// --a--color--gray2-6: hsl(0, 0%, 12%);
// --a--color--gray2-7: hsl(0, 0%, 8%);
// --a--color--gray2-8: hsl(0, 0%, 4%);
// --a--color--gray2-9: hsl(0, 0%, 2%);
