:root {
	--asm--color--red-1: hsl(0, 100%, 10%);
	--asm--color--red-2: hsl(0, 100%, 20%);
	--asm--color--red-3: hsl(0, 100%, 30%);
	--asm--color--red-4: hsl(0, 100%, 40%);
	--asm--color--red-5: hsl(0, 100%, 50%);
	--asm--color--red-6: hsl(0, 100%, 60%);
	--asm--color--red-7: hsl(0, 100%, 70%);
	--asm--color--red-8: hsl(0, 100%, 80%);
	--asm--color--red-9: hsl(0, 100%, 90%);

	--asm--color--orangered-1: hsl(16, 100%, 10%);
	--asm--color--orangered-2: hsl(16, 100%, 20%);
	--asm--color--orangered-3: hsl(16, 100%, 30%);
	--asm--color--orangered-4: hsl(16, 100%, 40%);
	--asm--color--orangered-5: hsl(16, 100%, 50%);
	--asm--color--orangered-6: hsl(16, 100%, 60%);
	--asm--color--orangered-7: hsl(16, 100%, 70%);
	--asm--color--orangered-8: hsl(16, 100%, 80%);
	--asm--color--orangered-9: hsl(16, 100%, 90%);

	--asm--color--orange-1: hsl(32, 100%, 10%);
	--asm--color--orange-2: hsl(32, 100%, 20%);
	--asm--color--orange-3: hsl(32, 100%, 30%);
	--asm--color--orange-4: hsl(32, 100%, 40%);
	--asm--color--orange-5: hsl(32, 100%, 50%);
	--asm--color--orange-6: hsl(32, 100%, 60%);
	--asm--color--orange-7: hsl(32, 100%, 70%);
	--asm--color--orange-8: hsl(32, 100%, 80%);
	--asm--color--orange-9: hsl(32, 100%, 90%);

	--asm--color--yellow-1: hsl(53, 100%, 10%);
	--asm--color--yellow-2: hsl(53, 100%, 20%);
	--asm--color--yellow-3: hsl(53, 100%, 30%);
	--asm--color--yellow-4: hsl(53, 100%, 40%);
	--asm--color--yellow-5: hsl(53, 100%, 55%);
	--asm--color--yellow-6: hsl(53, 100%, 60%);
	--asm--color--yellow-7: hsl(53, 100%, 70%);
	--asm--color--yellow-8: hsl(53, 100%, 80%);
	--asm--color--yellow-9: hsl(53, 100%, 90%);

	--asm--color--lime-1: hsl(75, 100%, 10%);
	--asm--color--lime-2: hsl(75, 100%, 20%);
	--asm--color--lime-3: hsl(75, 100%, 30%);
	--asm--color--lime-4: hsl(75, 100%, 40%);
	--asm--color--lime-5: hsl(75, 100%, 55%);
	--asm--color--lime-6: hsl(75, 100%, 60%);
	--asm--color--lime-7: hsl(75, 100%, 70%);
	--asm--color--lime-8: hsl(75, 100%, 80%);
	--asm--color--lime-9: hsl(75, 100%, 90%);

	--asm--color--lawngreen-1: hsl(93, 100%, 10%);
	--asm--color--lawngreen-2: hsl(93, 100%, 20%);
	--asm--color--lawngreen-3: hsl(93, 100%, 30%);
	--asm--color--lawngreen-4: hsl(93, 100%, 40%);
	--asm--color--lawngreen-5: hsl(93, 100%, 50%);
	--asm--color--lawngreen-6: hsl(93, 100%, 60%);
	--asm--color--lawngreen-7: hsl(93, 100%, 70%);
	--asm--color--lawngreen-8: hsl(93, 100%, 80%);
	--asm--color--lawngreen-9: hsl(93, 100%, 90%);

	--asm--color--green-1: hsl(120, 100%, 10%);
	--asm--color--green-2: hsl(120, 100%, 20%);
	--asm--color--green-3: hsl(120, 100%, 30%);
	--asm--color--green-4: hsl(120, 100%, 40%);
	--asm--color--green-5: hsl(120, 100%, 38%);
	--asm--color--green-6: hsl(120, 100%, 60%);
	--asm--color--green-7: hsl(120, 100%, 70%);
	--asm--color--green-8: hsl(120, 100%, 80%);
	--asm--color--green-9: hsl(120, 100%, 90%);

	--asm--guppiegreen--teal-1: hsl(150, 100%, 10%);
	--asm--guppiegreen--teal-2: hsl(150, 100%, 20%);
	--asm--guppiegreen--teal-3: hsl(150, 100%, 30%);
	--asm--guppiegreen--teal-4: hsl(150, 100%, 40%);
	--asm--guppiegreen--teal-5: hsl(150, 100%, 50%);
	--asm--guppiegreen--teal-6: hsl(150, 100%, 60%);
	--asm--guppiegreen--teal-7: hsl(150, 100%, 70%);
	--asm--guppiegreen--teal-8: hsl(150, 100%, 80%);
	--asm--guppiegreen--teal-9: hsl(150, 100%, 90%);

	--asm--color--teal-1: hsl(165, 100%, 10%);
	--asm--color--teal-2: hsl(165, 100%, 20%);
	--asm--color--teal-3: hsl(165, 100%, 30%);
	--asm--color--teal-4: hsl(165, 100%, 40%);
	--asm--color--teal-5: hsl(165, 100%, 50%);
	--asm--color--teal-6: hsl(165, 100%, 60%);
	--asm--color--teal-7: hsl(165, 100%, 70%);
	--asm--color--teal-8: hsl(165, 100%, 80%);
	--asm--color--teal-9: hsl(165, 100%, 90%);

	--asm--color--aqua-1: hsl(180, 100%, 10%);
	--asm--color--aqua-2: hsl(180, 100%, 20%);
	--asm--color--aqua-3: hsl(180, 100%, 30%);
	--asm--color--aqua-4: hsl(180, 100%, 40%);
	--asm--color--aqua-5: hsl(180, 100%, 50%);
	--asm--color--aqua-6: hsl(180, 100%, 60%);
	--asm--color--aqua-7: hsl(180, 100%, 70%);
	--asm--color--aqua-8: hsl(180, 100%, 80%);
	--asm--color--aqua-9: hsl(180, 100%, 90%);

	--asm--color--ligthblue-1: hsl(210, 100%, 10%);
	--asm--color--ligthblue-2: hsl(210, 100%, 20%);
	--asm--color--ligthblue-3: hsl(210, 100%, 30%);
	--asm--color--ligthblue-4: hsl(210, 100%, 40%);
	--asm--color--ligthblue-5: hsl(210, 100%, 50%);
	--asm--color--ligthblue-6: hsl(210, 100%, 60%);
	--asm--color--ligthblue-7: hsl(210, 100%, 70%);
	--asm--color--ligthblue-8: hsl(210, 100%, 80%);
	--asm--color--ligthblue-9: hsl(210, 100%, 90%);

	--asm--color--blue-1: hsl(240, 100%, 10%);
	--asm--color--blue-2: hsl(240, 100%, 20%);
	--asm--color--blue-3: hsl(240, 100%, 30%);
	--asm--color--blue-4: hsl(240, 100%, 40%);
	--asm--color--blue-5: hsl(240, 100%, 50%);
	--asm--color--blue-6: hsl(240, 100%, 60%);
	--asm--color--blue-7: hsl(240, 100%, 70%);
	--asm--color--blue-8: hsl(240, 100%, 80%);
	--asm--color--blue-9: hsl(240, 100%, 90%);

	--asm--color--violet-1: hsl(270, 100%, 10%);
	--asm--color--violet-2: hsl(270, 100%, 20%);
	--asm--color--violet-3: hsl(270, 100%, 30%);
	--asm--color--violet-4: hsl(270, 100%, 40%);
	--asm--color--violet-5: hsl(270, 100%, 50%);
	--asm--color--violet-6: hsl(270, 100%, 60%);
	--asm--color--violet-7: hsl(270, 100%, 70%);
	--asm--color--violet-8: hsl(270, 100%, 80%);
	--asm--color--violet-9: hsl(270, 100%, 90%);

	--asm--color--purple-1: hsl(300, 100%, 10%);
	--asm--color--purple-2: hsl(300, 100%, 20%);
	--asm--color--purple-3: hsl(300, 100%, 30%);
	--asm--color--purple-4: hsl(300, 100%, 40%);
	--asm--color--purple-5: hsl(300, 100%, 50%);
	--asm--color--purple-6: hsl(300, 100%, 60%);
	--asm--color--purple-7: hsl(300, 100%, 70%);
	--asm--color--purple-8: hsl(300, 100%, 80%);
	--asm--color--purple-9: hsl(300, 100%, 90%);

	--asm--color--pink-1: hsl(330, 100%, 10%);
	--asm--color--pink-2: hsl(330, 100%, 20%);
	--asm--color--pink-3: hsl(330, 100%, 30%);
	--asm--color--pink-4: hsl(330, 100%, 40%);
	--asm--color--pink-5: hsl(330, 100%, 50%);
	--asm--color--pink-6: hsl(330, 100%, 60%);
	--asm--color--pink-7: hsl(330, 100%, 70%);
	--asm--color--pink-8: hsl(330, 100%, 80%);
	--asm--color--pink-9: hsl(330, 100%, 90%);
}
