@use "../../styles/globals/" as *;
@use "Chip.root" as *;

.Chip {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	// height: 42px;
	// min-width: 42px;
	width: fit-content;
	padding: 0 var(--a--chip--side-padding);
	border-radius: var(--a--chip--radius);
	border: var(--a--chip--border-size) var(--a--chip--border) solid;
	cursor: pointer;
	color: var(--a--chip--color);

	border-radius: 1000px;

	background-color: var(--a--chip--background);

	@include size-tiny {
		height: var(--a--chip--height-tiny);
		min-width: var(--a--chip--width-tiny);
	}

	@include size-small {
		height: var(--a--chip--height-small);
		min-width: var(--a--chip--width-small);
	}

	@include size-default {
		height: var(--a--chip--height-default);
		min-width: var(--a--chip--width-default);
	}

	@include size-medium {
		height: var(--a--chip--height-medium);
		min-width: var(--a--chip--width-medium);
	}

	@include size-large {
		height: var(--a--chip--height-large);
		min-width: var(--a--chip--width-large);
	}

	@include size-extra {
		height: var(--a--chip--height-extra);
		min-width: var(--a--chip--width-extra);
	}

	@include clickable;

	@include hover-animation;

	@include disabled;

	@include hover {
		background-color: var(--a--chip--background-hover);
		color: var(--a--chip--color-hover);
		border-color: var(--a--chip--border-hover);
	}

	// @include active {
	// 	background-color: var(--a--chip--background-active);
	// }

	// @include hover {
	// 	background-color: var(--color--e1-2);
	// }
	&.selected {
		background-color: var(--a--chip--background-selected);
		color: var(--a--chip--color-selected);
		border-color: var(--a--chip--border-selected);
		@include hover {
			background-color: var(--a--chip--background-selected-hover);
			color: var(--a--chip--color-selected-hover);
			border-color: var(--a--chip--border-selected-hover);
		}

		// @include active {
		// 	background-color: var(--a--chip--background-selected-active);
		// }
	}

	// @include active {
	// }
}

.label {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 8px;
	height: var(--a--chip--label-height-default);
	color: inherit;
	opacity: 100%;

	@include size-tiny {
		font-size: var(--a--chip--font-size-tiny);
		height: var(--a--chip--label-height-tiny);
	}

	@include size-small {
		font-size: var(--a--chip--font-size-small);
		height: var(--a--chip--label-height-small);
	}

	@include size-default {
		font-size: var(--a--chip--font-size-default);
		height: var(--a--chip--label-height-default);
	}

	@include size-medium {
		font-size: var(--a--chip--font-size-medium);
		height: var(--a--chip--label-height-medium);
	}

	@include size-large {
		font-size: var(--a--chip--font-size-large);
		height: var(--a--chip--label-height-large);
	}

	@include size-extra {
		font-size: var(--a--chip--font-size-extra);
		height: var(--a--chip--label-height-extra);
	}
}
