.container {
	position: relative;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 16px;
}

.title {
	text-align: center;
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 var(--gap);
	text-align: center;
	gap: 16px;
}
