.TableRow {
	height: 32px;
	border-bottom: 1px solid var(--a--color--red-8);
	& > :first-child {
		padding-left: 64px;
	}
	& > :last-child {
		padding-right: 64px;
	}
	&:hover {
		background-color: var(--a--color--red-9);
	}
}

.cell {
	min-width: 16px;
	padding: 8px 16px;
}
